<style>
  /*.specialgg {*/
    /*background-color: green;*/
    /*border: 1px solid #777;*/
  /*}*/
</style>
<div class="container" >
  <div class="container order-container">
    <p>Order by:</p>
    <button (click)="setOrder('_userName')" class="btn btn-success">Name</button>
    <button (click)="setOrder('_userEmail')" class="btn btn-success">Email</button>
    <button (click)="setOrder('_taskStatus')" class="btn btn-success">Status</button>
  </div>
  <div *ngFor="let task of tasks | orderBy: order: reverse">
    <div class="col-md-4 well text-center " (click)="editTask(task)" [class.specialgg]="task._taskStatus">
      <h2><span>{{task._userName}} {{task._taskStatus.toString()}}</span></h2>
      <p><span>{{task._userEmail}}</span></p>
      <p>{{task._userText}}</p>
      <img src="http://www.blackberryrc.com/uploads/allimg/110124/1-1101241G546-lp.jpg" class="img-thumbnail">
    </div>
  </div>
</div>
